body {
  background-color: gold;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNgEH_ZSGeE61Kr6CqTL8hhuGxscBU1yS7Zw&usqp=CAU");
  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30%;
}

.quiz-nav {
  background-color: green;
  padding: 20px;
}
.countdown-span,
.counter {
  float: right;
  color: gold;
  font-size: 30px;
}

.scores-button {
  border-radius: 10px;
  background-color: gold;
  padding: 20px;
}

.intro {
  color: green;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.intro-para {
  color: green;
  font-size: 40px;
}
.start-button {
  padding: 20px;
  border-radius: 20px;
  background-color: green;
  color: gold;
}
.intro-div {
  display: flex;
  justify-content: center;
}
